<p-card>
  <div class="card header-card">
    <div class="d-flex align-items-center justify-content-between">
      <div [routerLink]="['../friend']" class="d-flex align-items-center">
        <p-avatar
          icon="pi pi-users"
          styleClass="mr-2"
          size="xlarge"
          [style]="{ 'background-color': 'transparent' }"
        />
        <h5 class="mb-0">Friends</h5>
      </div>
      <p-avatar
        icon="pi pi-user-plus"
        pBadge
        pTooltip="Friend Requests"
        [tooltipOptions]="tooltipOptions"
        [class.selectedIcon]="'requests' == activeFilter"
        (click)="applyFilter('requests')"
      />
      <p-avatar
        icon="pi pi-user-minus"
        pBadge
        pTooltip="Pending Requests"
        [tooltipOptions]="tooltipOptions"
        [class.selectedIcon]="'requested' == activeFilter"
        (click)="applyFilter('requested')"
      />
      <p-button
        class="ms-2 me-1"
        icon="pi pi-user-plus"
        [raised]="true"
        pTooltip="Add friend"
        [tooltipOptions]="tooltipOptions"
        (click)="addFriend()"
      />
    </div>
  </div>
  @if(filteredFriends.length > 0){
  <ul class="list-group scrollable">
    @for (friend of filteredFriends; track friend) {
    <li class="list-group-item"
      (click)="navigateToFriend(friend)"
    >
      <div class="d-flex align-items-center">
        <div class="col-2">
          @if(friend.imageUrl){
          <p-avatar
            [image]="friend.imageUrl"
            styleClass="mr-1"
            size="small"
            shape="circle"
          ></p-avatar>
          } @else {
          <p-avatar
            label="{{ friend.name.first.charAt(0) }}"
            styleClass="mr-1"
            size="small"
            shape="circle"
          ></p-avatar>
          }
        </div>
        <div [ngClass]="friend.status == 1 ? 'col-7' : 'col-10'">
          {{ friend.name.display }}
        </div>
        @if(friend.status == 1){
        <div class="col-3 d-flex justify-content-evenly align-items-center">
          @if(friend.isRequester){
          <p-avatar
            icon="pi pi-check"
            styleClass="text-success"
            pTooltip="Accept"
            [tooltipOptions]="tooltipOptions"
            (click)="acceptRequest(friend)"
          />
          }
          <p-avatar
            icon="pi pi-times"
            styleClass="text-danger"
            [pTooltip]="friend.isRequester ? 'Reject' : 'Cancel'"
            [tooltipOptions]="tooltipOptions"
            (click)="
              friend.isRequester ? rejectRequest(friend) : cancelRequest(friend)
            "
          />
        </div>
        }
      </div>
    </li>
    }
  </ul>
  } @else {
  <div class="p-3 text-center">No Record Found</div>
  }
</p-card>
