.selected {
    background-color: #d3d3d3;
    font-weight: bold;
}

:host ::ng-deep .p-card .p-card-content,
:host ::ng-deep .p-card .p-card-body {
    padding: 0 !important;
}

:host ::ng-deep a{
    text-decoration: none;
}

::ng-deep .p-avatar .p-badge {
    display: none;
}

::ng-deep .selectedIcon .p-badge {
    display: inline !important;
}

.list-group-item {
    cursor: pointer;
}

.header-card {
    background-color: #eaeaea;
    border-radius: 2%;
}

.scrollable{
    max-height: 76vh;
    overflow-y: auto !important;
}
