.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
}

.btn.icon-btn{
  padding: 0;
}

::ng-deep .p-dropdown, p-dropdown{
  width: 100%;
}

::ng-deep .p-multiselect{
  width: 100%;
}

input{
  width: 100%;
}