<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 pe-1 mb-1">
      <div class="card">
        <div class="card-header">
          <h2>{{ expense.currency + " " + expense.balance }}</h2>
          <p>
            Added by
            <span class="fw-bold text-primary">
              {{ expense.detail.createdBy }}
            </span>
            on
            <span class="fw-bold text-primary">{{
              expense.date | date : "dd MMM"
            }}</span>
          </p>
        </div>
        <div class="card-body">
          <h5 class="card-title">Expense Details:</h5>
          @for (share of expense.detail.shares; track $index) {
          <p class="card-text mb-1">
            <span style="color: dodgerblue">{{ share.name }}</span>
            @if (share.paid > 0) {
            <span> paid {{ expense.currency }} {{ share.paid }}</span>
            } @if (share.paid > 0 && share.owes > 0){
            <span> and </span>
            } @if(share.owes > 0){
            <span> owes {{ expense.currency }} {{ share.owes }}</span>
            }
          </p>
          }
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 h-100 pe-1">
      <div class="card">
        <div class="card-header">Comments</div>
        <div class="card-body">
          @if(expense.comments.length === 0){
          <div class="card-text w-100 text-center">No comments to show</div>
          } @else {
          <ul class="list-group list-group-flush">
            @for(comment of expense.comments; track $index){
            <li class="list-group-item">
              <p>{{ comment.AddedBy }} updated the expense</p>
              <ul>
                @for(detail of comment.Detail; track $index){
                <li>{{ detail.Comment }}</li>
                }
              </ul>
            </li>
            }
          </ul>
          }
        </div>
      </div>
    </div>
  </div>
</div>
