<p-card styleClass="header-card" >
  <div class="container-fluid d-flex align-item-center justify-content-between">
    <div class="navbar-brand">
      <h2>
        <p-avatar
          [routerLink]="['./']"
          routerLinkActive="active"
          icon="pi pi-users"
          styleClass="mr-2"
          size="xlarge"
          [style]="{ 'background-color': 'transparent' }"
          />
        {{ group?.name ?? "..." }}
        <p-avatar
          [routerLink]="['settings']"
          routerLinkActive="active"
          icon="pi pi-cog"
          styleClass="mr-2"
          pTooltip="Edit Group Details"
          [tooltipOptions]="tooltipOptions"
          size="large"
          [style]="{ 'background-color': 'transparent' }"
          />
      </h2>
        <!-- Filters section -->
      @if(showFilters){
        <form [formGroup]="filterForm" class="d-flex gap-3 align-items-center">
          <div class="d-flex align-items-center gap-2">
            <p-checkbox
              formControlName="involvedMe"
              [binary]="true"
              inputId="involvedMe"
              (onChange)="checkboxChange($event)"
            ></p-checkbox>
            <label for="involvedMe" class="mb-0">Only show expenses that involve me</label>
          </div>
          <div class="flex-grow-1">
            <p-calendar
              formControlName="dateRange"
              selectionMode="range"
              [readonlyInput]="true"
              placeholder="Select Expense Date Range"
              styleClass="w-100"
              [style]="{'max-width': '300px', 'transform': 'scale(0.75)' }"
              appendTo="body"
              (onClose)="dateClose()"
            ></p-calendar>
          </div>
          @if(currentFilters.dateRange.startDate || currentFilters.dateRange.endDate){
            <i class="pi pi-times clear-filter"
              pTooltip="Clear Filter"
              [tooltipOptions]="tooltipOptions"
              (click)="clearFlter()"
            ></i>
          }
        </form>
      }
    </div>
    <div class="d-flex">
      <p-button
        class="ms-2 align-self-center"
        icon="pi pi-plus"
        severity="primary"
        [raised]="true"
        pTooltip="Add Expense"
        [tooltipOptions]="tooltipOptions"
        (click)="showExpenseDialog()"
      />
      <p-button
        class="ms-2 align-self-center"
        icon="pi pi-sync"
        severity="success"
        [raised]="true"
        pTooltip="Settle Up"
        [tooltipOptions]="tooltipOptions"
        [outlined]="true"
        (click)="showSettleUpDialog()"
      />
      <p-button
        [routerLink]="['balances']"
        routerLinkActive="active"
        class="ms-2 align-self-center"
        icon="pi pi-wallet"
        severity="secondary"
        [raised]="true"
        pTooltip="Show Balances"
        [tooltipOptions]="tooltipOptions"
        [outlined]="true"
      />
    </div>
  </div>
</p-card>
<router-outlet></router-outlet>
