.navbar {
    background-color: #eaeaea;
}

:host ::ng-deep .p-card .p-card-content{
    padding: 0 !important;
}

:host ::ng-deep .header-card .p-card-body{
    background-color: #eaeaea;
    padding: .5rem !important;
}

::ng-deep .p-datepicker{
  transform: scale(0.75);
}
