nav {
    height: 10vh;
    width: 100%; 
    top: 0; 
    z-index: 100;
    background-color: #eaeaea !important; 
}

.navbar {
    padding: 0px !important;
}

.container-fluid {
    height: 10vh;
    flex-wrap: nowrap
}

::ng-deep .p-overlaypanel .p-overlaypanel-content{
    padding: .75rem !important;
    background-color: #eaeaea !important; 
}

.pointer{
    cursor: pointer;
}