<div class="container">
  <form [formGroup]="expenseForm" (ngSubmit)="AddExpense()">
    <div class="row mb-2">
      <div class="col-6 d-flex flex-column">
        <label for="name">Description</label>
        <input pInputText id="name" formControlName="desc" />
      </div>
      <div class="col d-flex flex-column">
        <label for="amount">Amount</label>
        <p-inputNumber
          mode="currency"
          [currency]="groupCurrency?.code ?? 'USD'"
          min="0"
          [minFractionDigits]="0"
          [maxFractionDigits]="2"
          formControlName="amount"
          (onInput)="divideAmount()"
        />
      </div>
    </div>

    <div class="row">
      <div class="col">
        <p class="mt-3 mb-1" style="font-size: 18px; font-weight: bold">
          Payers:
        </p>
        <div
          formArrayName="payers"
          class="me-2 mb-2"
          *ngFor="let share of payers.controls; index as i"
        >
          <div [formGroupName]="i" class="col mb-3">
            <div class="row">
              <div class="col-4 d-flex align-items-center">
                <label for="amount">{{ share.get("name").value }}:</label>
              </div>
              <div class="col-8">
                <p-inputNumber
                  inputId="integeronly"
                  min="0"
                  formControlName="share"
                  [maxFractionDigits]="2"
                  (onInput)="checkAmount(true)"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <p class="text-center" style="color: red" *ngIf="payersSum !== 0">
            {{ payersSum | absolute }} {{ groupCurrency.code }}
            {{ payersSum >= 0 ? "left" : "over" }}
          </p>
        </div>
      </div>
      <div class="col">
        <p class="mt-3 mb-1" style="font-size: 18px; font-weight: bold">
          Amount Owed:
        </p>
        <div
          formArrayName="shares"
          class="me-2 mb-2"
          *ngFor="let share of shares.controls; index as i"
        >
          <div [formGroupName]="i" class="col mb-3">
            <div class="row">
              <div class="col-4 d-flex align-items-center">
                <label for="amount">{{ share.get("name").value }}:</label>
              </div>
              <div class="col-8">
                <p-inputNumber
                  inputId="integeronly"
                  min="0"
                  formControlName="share"
                  [maxFractionDigits]="2"
                  (onInput)="checkAmount(false)"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <p class="text-center" style="color: red" *ngIf="divisionsSum !== 0">
            {{ divisionsSum | absolute }} {{ groupCurrency.code }}
            {{ divisionsSum >= 0 ? "left" : "over" }}
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="d-flex justify-content-center">
        <p-button
          [label]="(editMode ? 'Update' : 'Add') + ' Expense'"
          type="submit"
          [disabled]="
            expenseForm.invalid || payersSum !== 0 || divisionsSum !== 0
          "
        />
      </div>
    </div>
  </form>
</div>
