<form [formGroup]="addGroupForm" autocomplete="off" (ngSubmit)="AddGroup()">
  <div class="row">
    <div class="col-md-9 mb-3">
      <label for="usersSelect">Friends</label>
      <p-multiSelect 
        [options]="friends" 
        formControlName="Users" 
        optionLabel="name.first"
        placeholder="Select friends"
        id="usersSelect"
        appendTo="body"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mb-3">
      <label for="nameInput">Name</label>
      <input
        type="text"
        pInputText
        id="nameInput"
        formControlName="Name"
        [class.is-invalid]="addGroupForm.get('Name').touched && addGroupForm.get('Name').invalid"
      />
    </div>
    <div class="col-md-6 mb-3">
      <label for="currencyInput">Currency</label>
      <p-autoComplete 
        formControlName="Currency"
        [suggestions]="filteredCurrencies" 
        (completeMethod)="filterCurrency($event)"
        [dropdown]="true" 
        field="code" 
        id="currencyInput"
      />
    </div>
  </div>
  <div class="mb-3">
    <label for="descriptionInput">Description</label>
    <input
      type="text"
      pInputText
      formControlName="Description"
      id="descriptionInput"
    />
  </div>
  <div class="mb-3 d-flex justify-content-end">
    <button type="submit" class="btn btn-primary btn-lg">
      <i class="pi pi-check"></i> Add
    </button>
  </div>
</form>
