<div class="container p-3">
    <div class="d-flex align-items-center justify-content-between mb-3" style="background-color: #eaeaea;">
      <div 
        [routerLink]="['../group']"
        class="d-flex align-items-center"
        >
        <p-avatar 
          icon="pi pi-users" 
          styleClass="mr-2"
          size="xlarge"
          [style]="{ 'background-color': 'transparent' }"
        />
        <h5 class="mb-0">Groups</h5>
      </div>
      <p-button
        class="ms-2 me-1"
        icon="pi pi-plus"
        [rounded]="true"
        [raised]="true"
        pTooltip="Add Group"
        tooltipPosition="right"
        [outlined]="true"
        (click)="addGroup()"
      />
    </div>
    <ul class="list-group">
        @for (group of groups; track group.id) {
            <li class="list-group-item" 
                (click)="navigateToGroup(group)"
                [class.selected]="group.id == selectedGroupId">
                {{ group.name }}
            </li>
        }
    </ul>
</div>
  